@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background: url('../images/bg-desktop.svg') center center no-repeat;
    background-color: var(--Violet);
    background-size: cover;
    min-height: 100vh;
}

.container-princial {
    margin: 0 auto;
    max-width: 1440px;
    display: grid;
    grid-template-areas: 
    "header header"
    "principal lateral"
    "footer footer";
    grid-template-columns: 1fr 1fr;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

/* Header */
.cabecalho {
    grid-area: header;
    max-height: 100px;
}

.cabecalho img {
    margin-left: 300px;
    max-width:300px;
    max-height:150px;
}

/* Corpo-imagem */
.corpo-image {
    grid-area: principal;
    width: 100%;
}

.corpo-image img {
    width: 77%;
    padding: 30px 133px;
}

/* Register-forms */
.corpo-register {
    grid-area: lateral;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
}

.corpo-register .titulos{
    font-family: 'Poppins', sans-serif;
    line-height: 33px;
    margin-top: 100px;
}

/* .corpo-register .titulo-1 {
    margin-top: 100px;
} */

.corpo-register .info {
    margin-top: 15px;
    width: 67%;
}

.corpo-register .btn-register {
    margin-top: 15px;
    align-self: flex-start;
    padding: 10px 50px;
    border-radius: 30px;
}

.corpo-register .btn-register {
    color: var(--Violet);
    transform: 0.5s;
    background-color: white;
}

.corpo-register .btn-register:hover {
    background-color: var(--Soft-Magenta);
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 12px #333;
}

/* Rodapé */
.rodape {
    grid-area: footer;
    height: 12vh;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.rodape .social {
    margin-right: 170px;
    display: flex;
}

.rodape .social i {
    font-size: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    /* padding: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.rodape .social i:hover {
    color: var(--Soft-Magenta);
    border: 2px solid var(--Soft-Magenta);
}

.rodape .social a {
    padding: 5px;
    
}

